section.about#about
	.container
		.row
			.col-md-8.offset-md-2
				h2.h2 About us
				p Lorem ipsum dolor sit amet, consectetur adipisicing alit Lorem ipsum dolor sit amet, consectetur adipisicing alit Lorem ipsum dolor sit amet, consectetur adipisicing alit Lorem ipsum dolor sit amet, consectetur adipisicing alit 
		.row
			.col-lg-3.col-sm-6
				figure
					.box-img
						img.img-fluid(src="./img/about/about_01.png", alt="")
						figcaption.content-img
							h4 John
							p CEO/Founder
						.icon
							img.img-fluid(src="./img/about/link-variant-symbol-in-circular-button.png", alt="")
			.col-lg-3.col-sm-6
				figure
					.box-img
						img.img-fluid(src="./img/about/about_02.png", alt="")
						figcaption.content-img
							h4 John
							p CEO/Founder
						.icon
							img.img-fluid(src="./img/about/link-variant-symbol-in-circular-button.png", alt="")
			.col-lg-3.col-sm-6
				figure
					.box-img
						img.img-fluid(src="./img/about/about_03.png", alt="")
						figcaption.content-img
							h4 John
							p CEO/Founder
						.icon
							img.img-fluid(src="./img/about/link-variant-symbol-in-circular-button.png", alt="")
			.col-lg-3.col-sm-6
				figure
					.box-img.hiring
						img.img-fluid(src="./img/about/about_03.png", alt="")
						.content
							h3 WE ARE HIRING
							button Apply

