section.canhcam-carousel-1(bg-img="./img/bg/bg.png")
	.container
		.row
			.col.text-center
				h2.h2.mb-5 our clients
		.row.mt-4
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							img(src='./img/clients/client_01.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/client_02.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/client_03.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/client_04.png', alt='')
					.item
						a(href='#')
							img(src='./img/clients/client_05.png', alt='')
