section.touch
	.container
		.row
			.col-md-8.offset-md-2
				h2 get in touch
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ab repudiandae ut magnam, quasi ipsa ea autem quae accusantium dolores aliquam fuga molestias dicta libero, sunt consequuntur facere neque cum.
