section.canhcam-carousel-2
	.container
		.row
			.col-md-8.offset-md-2.text-center
				h2.h2.mb-5 WHY CHOOSE US
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero qui accusamus nobis. Voluptate velit ipsum reiciendis dicta obcaecati dolor, officiis distinctio consectetur amet aspernatur ea libero repellendus saepe cumque soluta?
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							figure.box-img
								img.pc.img-fluid(src='./img/choose/icon-01.png', alt='')
								figcaption.content
									h3 App Design
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
					.item
						a(href='#')
							figure.box-img
								img.tablet.img-fluid(src='./img/choose/icon-02.png', alt='')
								figcaption.content
									h3 Responsive Layout
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
					.item
						a(href='#')
							figure.box-img
								img.mobile.img-fluid(src='./img/choose/icon-03.png', alt='')
								figcaption.content
									h3 Pixel Perfect Design
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
					.item
						a(href='#')
							figure.box-img
								img.pc.img-fluid(src='./img/choose/icon-01.png', alt='')
								figcaption.content
									h3 App Design
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
					.item
						a(href='#')
							figure.box-img
								img.tablet.img-fluid(src='./img/choose/icon-02.png', alt='')
								figcaption.content
									h3 Responsive Layout
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
					.item
						a(href='#')
							figure.box-img
								img.mobile.img-fluid(src='./img/choose/icon-03.png', alt='')
								figcaption.content
									h3 Pixel Perfect Design
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ilabore et dolore.
					